
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
html, body {
	height: 100%;
} 

#navigation {
	float:left;
	width:20%;
	height:100%;
	margin-left:10px;
}

#navigation button {
	width:100%;
}


#content {
	float:left;
	width:75%;
	height:100%;
	margin-left:10px;
}	
